@use '../../../../themes' as *;

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .sidebar-footer {
      display: flex;
      gap: 2rem;
      align-items: center;

      nb-icon {
        color: red;
      }
    }
  }
