@use '../themes' as *;

:host ::ng-deep .compacted {
  .main-container {
    align-items: center;

    .scrollable {
      align-items: center;
      display: flex;
      flex-direction: column;

      .menu-icon {
        margin: 0;
      }
    }
  }
}
