<nb-layout>
  <nb-layout-header fixed>
    <app-header></app-header>
  </nb-layout-header>

  <nb-sidebar left tag="left">
    <button nbButton status="info" size="small" (click)="toggle()">
      <nb-icon icon='log-out-outline'></nb-icon>
    </button>
    <nb-sidebar-fixed></nb-sidebar-fixed>
  </nb-sidebar>

  <nb-layout-column class="colored-column-info">
    Long layout content so that it is clear that fixed sidebar is shown on top of the content.
  </nb-layout-column>
</nb-layout>

<router-outlet />
